<!--新增注入child component-->
<app-hello [title]="title" [show_name]="show_name"></app-hello>
<app-hello title="你好" show_name="jordan"></app-hello>

<div class="distanceDiv">
  <h4>投票統計結果&nbsp;&nbsp;同意:{{agreed}}&nbsp;&nbsp;&nbsp;不同意:{{disagreed}}</h4>
<app-vote
*ngFor="let voter of voters"
[name]="voter"
(voted)="onVoted($event)">
</app-vote>
</div>

<!--------------------------->

<div class="aa">{{title}} {{show_name}}</div>
<p></p>
<input [placeholder]="phd">
<p></p>
<input [attr.placeholder]="phd">
<p></p>
<button id="bu" class="btn btn-secondary">click me</button>
<p></p>
<input id="checkAll" type="checkbox" value="0" [checked]="toggleBtn" (click)="toggleAllBtn()"> 勾選全部
<p></p>
<input id="check01" type="checkbox" value="1" [checked]="check1"> 01
<p></p>
<input id="check02" type="checkbox" value="2" [checked]="check2"> 02
<p></p>
<button class="{{btnStyle}}" class="btnFontColor" (click)="showAll()">[結果記錄查詢]</button>
<p></p>
<button [class]="btnStyle" class="btnFontColor" (click)="showError()">[失敗記錄查詢]</button>
<p></p>

<!--search bar-->
<!--<div class="container distanceDiv">
  <div class="row justify-content-center">
    <div class="col-sm-5">
        <input [placeholder]="phdSearchBar" style="height: 40px;">
        <button class="btnSearch">搜尋</button>
    </div>
  </div>
</div>-->

<p class="distanceDiv">
現在時間 {{currentDate | date:'yyyy-MM-dd HH:mm'}}
<br>
<input [(ngModel)]="testJson.foo">
<br>
{{testJson | json}}
<br>
{{num}}
<br>
<button [class]="btnStyle" class="btnFontColor" (click)="addNum()">加1</button>
</p>

<!--add item bar-->
<div class="container distanceDiv">
  <div class="row justify-content-center">
    <div class="col-sm-5">
        <input 
          [(ngModel)]="todoInputModel"
          #todoInput 
          (keyup.enter)="add()" 
          placeholder="新增事項" 
          style="height: 40px;"
        >
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <ul>
        <li>
          <a [class.selected]="nowTodoStatusType===TodoStatusType.All"
          (click)="setTodoStatusType(TodoStatusType.All)"
          >
            All
          </a>
        </li>
        <li>
          <a [class.selected]="nowTodoStatusType===TodoStatusType.Success"
          (click)="setTodoStatusType(TodoStatusType.Success)"
          >
            Success
          </a>
        </li>
        <li>
          <a [class.selected]="nowTodoStatusType===TodoStatusType.Error"
          (click)="setTodoStatusType(TodoStatusType.Error)"
          >
            Error
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- table -->
  <div id="tableBody" class="distanceDiv">
    <table>
      <tr>
        <td>{{responseData2.header.header}},
            {{responseData2.header.process_staus}},
            {{responseData2.header.total_count}}
        </td>
        <td>代碼(可編輯)</td>
        <td>說明(可編輯)</td>
      </tr>
      <tr *ngFor="let item of nowTodoList; let i=index">
        <td>{{item.detail_serial}}</td>
        <td (dblclick)="edit(item.detail_serial)">
          <div *ngIf="!item.editing">
            {{item.detail_status}}
          </div>
          <input 
            *ngIf="item.editing" 
            #itemInput
            [value]="item.detail_status"
            (keyup.enter)="updateCode(item.detail_serial, itemInput.value)"
            (blur)="updateCode(item.detail_serial, itemInput.value)"
            (mouseenter)="itemInput.focus()"
          >
        </td>
        <td (dblclick)="edit(item.detail_serial)">
          <div *ngIf="!item.editing">
            {{item.detail_err_desc}}
          </div>
          <input 
            *ngIf="item.editing" 
            #itemInput
            [value]="item.detail_err_desc"
            (keyup.enter)="updateMessage(item.detail_serial, itemInput.value)"
            (blur)="updateMessage(item.detail_serial, itemInput.value)"
            (mouseenter)="itemInput.focus()"
          >
        </td>
        <button
          #itemValue
          [value]="item.detail_serial" 
          (click)="delete(itemValue.value)">刪除</button>
      </tr>
      <tr>
      <td>
          {{responseData2.tailer.tailer}},
          {{responseData2.tailer.success_count}},
          {{responseData2.tailer.fail_count}}
      </td>
      <td></td>
      <td></td>
      </tr>
    </table>
  </div>

<div class="container">
  <div class="row justify-content-center">
    <ul>
      <li *ngFor="let item of users; let i=index">
        <button (click)="selectUser(users[i])" type="button">
          <span class="name">{{users[i].name}}</span>
        </button>
      </li>
    </ul>
    <div *ngIf="nowSelectUser">
      <div>
        姓名:{{nowSelectUser.name}}, vip等級:{{nowSelectUser.lv}}
      </div>
      <img *ngIf="nowSelectUser.lv !==0" [src]="'assets/'+nowSelectUser.imgSrc" />
    </div>
  </div>
</div>

<div class="distanceDiv">
  <span><button [class]="btnStyle" class="btnFontColor" (click)="corsBtn()">台灣證券交易所 上市公司基本資料</button></span>
  <p></p>
  <span><button [class]="btnStyle" class="btnFontColor" (click)="corsBtn2()">證券櫃檯買賣中心 上櫃股票市場現況</button></span>
  <p></p>
  {{govData | json}}
</div>

<!--ng switch-->
<!--<div class="float">
  <div class="box" *ngIf="nowSelectUser">
    <div>
      vip等級:
      <span [ngSwitch]="nowSelectUser.lv">
        <span *ngSwitchCase=1>
          <img src="assets/1.jpg">
        </span>
        <span *ngSwitchCase="2">
          <img src="assets/2.jpg">
        </span>
        <span *ngSwitchCase="3">
          <img src="assets/3.jpg">
        </span>
        <span *ngSwitchDefault>
          無
        </span>
      </span>
    </div>
    <div>姓名:{{nowSelectUser.name}}</div>
  </div>
</div>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        處理中...
      </div>
    </div>
  </div>
</div>